!!! 5
%html
	%head
		%title NOVOjul.io
		%meta{:charset=>"utf-8"} 
		%link{:rel => "stylesheet", :href => "style.css"}
		%link{:href => "https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200", :rel => "stylesheet", :type=>"text/css"}
	%body
		.content
			%h1#title
				Website under construction. Check back later :)	
		.content
			.filled#splash
				──────────────▄▄▄▄▄▄▄▄▄▄▄▄▄▄
				─────────────█▓▓▓▓▓▓▓▓██▓▓▓▓█
				────────────█▓▓▓▓▓▓▓▓█──█▓▄▄▓█
				───────────█▓▓▓▓▓▓▓▓█───▀█──█▀
				──────────█▓▓▓▓▓▓▓▓▓▓█──█────█
				─────────█▓▓▓▓▓▓▓▓▓▓▓▓█──█──█
				────────█▓▓▓▓▓▓▓▓▓▓▓▓▓▓█──▀▀
				───────▄████████████████▄
				───────██▀────────────▀██
				───────██──────────────██
				──────▄██▄────────────▄██▄
				──────████████████████████
				─────█────────────────────█
				────█──────────────────────█
				───█─────▄████▄──▄████▄─────█
				───█───██▀────▀██▀────▀██───█
				───█──██──▄▄▄──██──▄▄▄─▀██──█
				──▄█████──███──██──███──█████▄
				──██████──────████──────██████
				──▀█▀─▀██▄▄▄███▀▀███▄▄▄██▀─▀█▀
				───█────▀▀▀▀▀──────▀▀▀▀▀────█
				───█──────▄▄───────▄▄───────█
				───█▄──────▀▀▀▀▀▀▀▀▀───────▄█
				───█▓█────────────────────█▓█
				───█▓▓█▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄█▓▓█
				──▄██████████████████████████▄
				──██▀──────────────────────▀██
				▄█▀──█▄─▄█─█▀▀─█▀█─█▀█─█─█───▀█▄
				██▀──█▀█▀█─█▄──█▄▀─█▄▀─█▄█───▀██
				██▀──█───█─█▄▄─█─█─█─█─▄▄█───▀██
				██▀──────────────────────────▀██
				─█─█▀▐─█▐▀█▐─█▀─▀█▀▐▄─▄▌▐▀▌█▀─█
				─█─█─▐▄█▐▄▀▐─▀█──█─▐▀█▀▌▐▄▌▀█─█
				─█─█▄▐─█▐─█▐─▄█──█─▐───▌▐─▌▄█─█
				─█▄▄────────────────────────▄▄█
				──▀▀████████████████████████▀▀
				────▐▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▌
				─────▐▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▌
				──────▐▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▌
				───────▐▓▓▓▓▓▓▓▌▐▓▓▓▓▓▓▓▌
				─────────▐▓▓▓▓▌──▐▓▓▓▓▓▌
				────────▄████▀────▀████▄



